*{
    padding: 0;
    margin: 0;
    font-family:  'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    color: #fff;
}
/* ------- */
.logo-docplanner{
    width: 268px;
    height: 33px;
}
/* ----------- */
nav{
    height: 50px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 100px; 
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}
.first{
    color: #00b39b;
}
nav ul li a{
    color: #ababab;
    display: block;
}
nav ul li a:hover{
    color: #00b39b;
}
.nav-listDrop{
    position: absolute;
    visibility: hidden;
    top: 85px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin-bottom: 50px; */
    background-color: white;
}
.nav-listDrop li{
    color: #ababab;
    width: 170px;
    position: relative;
    border-top: none;
    font-size: small;
    display: list-item;
}
.nav-listDrop li a{
    line-height: 50px;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  /* --------- */
.grid{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 450px;
}
.col-2{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 450px;
}
.first-section{
    display: grid;
    gap:2rem;
}
.first-section h1{
    font-weight: 300;
    color: #00b39b;
    text-align: center;
    font-size: 2.125rem;
}
.col-2,.col-1 p{
    font-weight: 400;
    color: #747474;;
    line-height: 1.75;
}
.lead__logo {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}
/* ---------- */
.services{
    padding: 30px;
}
.grid-element{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3,1fr);
}
.grid-col3{
}
.col1-items{
    background-color: #00ccb1;
}
.upper-text h1{
    font-family:'Work Sans', sans-serif; 
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
}
.upper-text h2{
    font-family:'Work Sans', sans-serif; 
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
}
.col2-items{
    background-color: #3d83df;
}
.col3-items{
    background-color: #1b2734;
}