*{
    padding: 0;
    margin: 0;
    font-family:  'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    color: #fff;
}
/* ------- */
.logo-docplanner{
    width: 268px;
    height: 33px;
}
/* ----------- */
nav{
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
nav ul{
    float: right;
    margin-right: 100px; 
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}
.first{
    color: #00b39b;
}
nav ul li a{
    color: #ababab;
    display: block;
}
nav ul li a:hover{
    color: #00b39b;
}
.nav-listDrop{
    position: absolute;
    visibility: hidden;
    top: 85px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin-bottom: 50px; */
    background-color: white;
}
.nav-listDrop li{
    color: #ababab;
    width: 170px;
    position: relative;
    border-top: none;
    font-size: small;
    display: list-item;
}
.nav-listDrop li a{
    line-height: 50px;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  /* --------- */
.grid{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 450px;
}
.col-2{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 450px;
}
.first-section{
    display: grid;
    gap:2rem;
}
.first-section h1{
    font-weight: 300;
    color: #00b39b;
    text-align: center;
    font-size: 2.125rem;
}
.col-2,.col-1 p{
    font-weight: 400;
    color: #747474;;
    line-height: 1.75;
}
.lead__logo {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}
/* ---------- */
.services{
    padding: 30px;
}
.grid-element{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(5,1fr);
}
.grid-col1{
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-col2{
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-col3{
    grid-column-start: 4;
    grid-column-end: 5;
}
.col1-items{
    background-color: #00ccb1;
    padding: 2em 2em 0;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:max-content ;
}
.col2-items{
    background-color: #3d83df;
    padding: 2em 2em 0;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:max-content ;
}
.col3-items{
    background-color: #1b2734;
    padding: 2em 2em 0;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:max-content ;

}
.upper-text{
    margin-bottom: 100px;
}
.upper-text h1{
    font-family:'Work Sans', sans-serif; 
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
}
.upper-text h2{
    font-family:'Work Sans', sans-serif; 
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
}
.choose{
    margin: 20px;
}
.choose select{
    background: transparent;    
    border: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.2;
}
.choose select option{
    color: #333;
}
/* -------- */
.brands h1{
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1.625em;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -.3px;
    float: left;
}
.brands{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin:20px;
}
.brands-logos{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}
.brands-logos li{
    padding: 5px 0 5px 5px;
    width: auto;
    font-size: 1rem;
    justify-content: space-between;
    height: 20px;
    width: auto;
}
/* ---------- */
.status-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 100px;
    column-gap: 50px ;
}
.stats-header{
    grid-column-start: 2;
    grid-column-end: 3; 
    width: max-content;
}
.stats-header h1{
    color: #00b39b;
    font-size: 2.125rem;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    margin-top: 50px;
}
.stats-header p{
    margin-top: 30px;
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
    color: #747474;
}
/* --------- */
.status{
    background-color: #e5faf8;;
}
.stats-container{
    grid-column-start: 3;
    grid-column-end: 5;
    
}
.stats-items{
    
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color: #e5faf8;

}
.img-sec{
    display: flex;
    justify-content: center;
}
.stats-items h3{
    font-size: 1.5em;
    color: #00b39b;
    margin: 0.5em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;  
    line-height: 1.3;
    text-align: center;
}
.stats-items p{
    text-align: center;
    font-size: .8125em;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    line-height: 1.3;
}
.card{
    width: fit-content;
    /* padding: 50px; */
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin: 30px;
    background-color: #fff;
}
.card:nth-child(1){
    width: max-content;
}
/* ------------ */
.offices header h1{
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
    margin-top: 70px;
}
.offices header p{
    line-height: 1.7142857143;
    margin: 1.6em 0;
    font-size: .875em;
    text-align: center;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}
.offices{
    /* max-width: 1015px; */
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
/* ------- */
.office{
    zoom: 1;
    max-width: 1015px;
    margin: 0 auto;
    /* float: left;     */
    margin: 10px; 
    border-radius: 10px;
}
.office:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.offices-cards{
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}   
/* --------- */
.office__desc{
    color: #747474;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
}
.office__desc span{
    background-color: #3d83df;
    color: #fff;
    font-size: .650rem;
    padding: .5em 1.5em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
    float: right;
}
.office figure img{
    border-radius: 5px 5px 0  0;
}
/*-------------- */
.join-us{
    margin: 5rem auto;
}
.join-us-header{
    max-width: 520px;
    margin: 0 auto;
    font-size: .875em;
    text-align: center;
}
.join-us-header h1{
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
}
.join-us-header a{
    border: 0;
    padding: 1.1666666667em 1.5em;
    background-color: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
}

/* -------- */
.last-section{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
}
.last-section p{
    margin-bottom: 0.4em;
    font-size: 12px;
    color: #ababab;
    margin: 1.6em 0;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
}
.last-section a:hover{
    text-decoration: underline;
}
.main-footer p{
    font-size: 12px;
    color: #ababab;
    margin: 1.6em 0;
    text-align: center;
}
/* ------ */
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
